* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #524e4e;
    padding: 15px 30px;
    color: white;
    position: relative;

}

.navbar h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  margin: 0;
}


.navbar img {
  width: 400px;
  height: 100px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.textInput{
  padding: 10px;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addTaskDiv{
     margin: 30px;
}
button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete{
    background-color: rgb(195, 22, 22);
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style: none;
  margin-top: 20px;
}

li {
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}


.task{
      background-color: white;
       border-left: 5px solid #524e4e;
}

.AboutUs {
  background-color: #fff;
  padding: 30px;
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.AboutUs img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 15px 0;
}

.AboutUs p {
  margin: 10px 0;
}

.ContactUsDiv{
  background-color: #f1f1f1;
  padding: 30px;
  margin-top: 30px;
  border-radius: 8px;
}

.ContactUsDiv span {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.ContactUsDiv input,
.ContactUsDiv button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ContactUsDiv button {
  background-color: #4CAF50;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.ContactUsDiv button:hover {
  background-color: #45a049;
}


footer {
  margin-top: 40px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  flex-wrap: wrap;
}

footer div {
  max-width: 200px;
}

footer p {
  margin-bottom: 8px;
}
footer img{
    width: 150px;
    height: auto;
}
